<h2 class="title">Bewerk bedrijf</h2>

<%= render :partial => "form" %>
<table class="formulier">
  <tr>
    <td class="red"><%= link_to 'Show', category_bedrijf_path(@category, @bedrijf) %></td>
    <td class="red"><%= link_to 'Back', category_bedrijfs_path %></td>
  </tr>

</table>