<h2 class="title">New bedrijf</h2>
<%= render :partial => "form" %>
<table class="formulier">
  <tr>
    <td class="red">
<%= link_to 'Back', category_bedrijfs_path(@category) %></td>
    </tr>
  </table>