<h2 class="title">Bewerk Categorie</h2>
<%= render :partial => "form" %>
<table class="formulier">
  <tr>
    <td width="70" class="red"><%= link_to 'Zien', @category %> </td>
    <td class="red"><%= link_to 'Terug', categories_path %></td>
  </tr>
</table>