<h2 class="title">Nieuwe Categorie</h2>
<%= render :partial => "form" %>
<table class="formulier">
  <tr>
    <td class="red">
      <%= link_to 'Terug', categories_path %>
    </td>
  </tr>
</table>
